<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winmanboo.bluebook.main.mapper.CommentMapper">

    <select id="pageByTopicId" resultType="com.winmanboo.bluebook.main.vo.CommentVO">
        select id, content, from_uid, create_time
        from comment
        where topic_id = #{topicId}
    </select>
</mapper>