<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winmanboo.bluebook.main.mapper.TopicMapper">

    <sql id="Vo_Column">
           id,
               information,
               banners,
               video,
               subject,
               type,
               create_time,
               update_time,
               comments_number,
               likes_number,
               collects_number,
               post_uid,
               province,
               post_ip,
               talk_id,
               site,
               permission_type,
               post_type,
               posted_time,
               top_comment_id,
               category_id
    </sql>

    <select id="pageList" resultType="com.winmanboo.bluebook.main.vo.TopicVO">
        select id, banners, subject, type, likes_number, post_username, post_avatar
        from topic
        where category_id = #{categoryId}
          and permission_type = 0
    </select>
    <select id="detailsByPostId" resultType="com.winmanboo.bluebook.main.vo.TopicDetailsVO">
        select id,
               information,
               banners,
               video,
               subject,
               type,
               comments_number,
               likes_number,
               collects_number,
               post_uid,
               post_username,
               post_avatar,
               province,
               post_ip,
               talk_id,
               site,
               posted_time,
               top_comment_id
        from topic
        where id = #{postId}
          and permission_type = 0
    </select>
</mapper>